.home-main {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: auto;
}
.home-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 2rem 0 2rem;
}
.h1-home {
  width: 65%;
  font-size: var(--h1-font-size);
  color: var(---color-white);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.5rem;
  text-align: start;
}
.p-home {
  width: 70%;
  color: var(---color-white);
  margin-bottom: 1rem;
  text-align: start;
}
.btn-home {
  display: flex;
  width: 15%;
  background-color: var(---color-red);
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 12px 24px;
  text-shadow: 0px 1px 50px #854629;
}
@media (max-width: 1024px) {
  .main-container{
    padding-left: 1rem;
  }
  .h1-home {
    font-size: var(--h2-font-size);
    width: 65%;
    margin-bottom: 0.5em;
  }
  .p-home {
    font-size: var(--normal-font-size);
    width: 65%;
    margin-bottom: 0.5em;
  }
  .btn-home {
    width: 14%;
    font-size: var(--small-font-size);
    padding: 7px 10px;
  }
}
@media (max-width: 786px){
  .home-main{
    height: 45vh;
  }
  .h1-home {
    font-size: var(--normal-font-size);
    width: 65%;
    margin-bottom: 0.5em;
  }
  .p-home {
    font-size: var(--small-font-size);
    width: 70%;
    margin-bottom: 0.5em;
  }
  .btn-home {
    width: 20%;
    height: 20%;   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--small-font-size);
    padding: 2px;
    
  }
  

}
@media (max-width: 375px){
  .home-main{
    height: 45vh;
  }
  .h1-home {
    font-size: var(--normal-font-size);
    width: 70%;
    margin-bottom: 0.5em;
  }
  .p-home {
    font-size: var(--small-font-size);
    width: 70%;
    margin-bottom: 0.5em;
  }
  .btn-home {
    width: 30%;
    height: 15%;   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--small-font-size);
    padding: 2px;
    
  }
  

}
